.board {
  display: grid;
  column-gap : 20px;
  row-gap : 10px;
  outline-width: 1px;
  outline-style: dashed;
  outline-color: red;
}


.column {
  display: grid;
  flex-direction: column;
}

/* For mobile phones: */
[class*="board"] {
    grid-template-columns: 1fr;
}

@media only screen and (min-width: 768px) {
    /* Medium desktop: */
    .board-md {
        grid-template-columns: auto auto;
    }
}
/*
@media only screen and (min-width: 1280px) {
    .board-lg {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
*/
